ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #396eb0;
}
h1 {
  text-align: center;
  font-size: 16px;
}
li {
  list-style-type: none;
  background-color: #ebe645;
  text-decoration: line-through;
}
.ekstra {
  text-decoration: none;
  background-color: #344cb7;
}
